@{
    ViewData["Title"] = "Edit Magazine";
}
@model LifeCycleLab.Models.MagazineViewModel

<h1>Edit Magazine</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label class="form-label">Issue</label>
        <textarea class="form-control" asp-for="Issue"></textarea>
        <span asp-validation-for="Issue" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label class="form-label">Publish Date</label>
        <input type="date" class="form-control" asp-for="PublishDate" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label class="form-label">Article(s)</label>
        <select multiple placeholder="select author/s" class="form-control dropdown" asp-for="SelectedArticlesId">
            @foreach (var article in Model.Articles)
            {
                <option value="@article.gid">
                    @article.Title @article.PublishDate
                </option>
            }
        </select>
        <span asp-validation-for="SelectedArticlesId" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
