@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Чабаненко Максим і Кадинцев Лука ІПЗм-11</h1>
    <p>
        Модуль "Комплексна підготовка даних"</br>

        Для збору даних і підготовки базового наповнення контенту розробити спеціальне ПЗ.</br>
        Врахувати ЖЦ ПЗ на всіх етапах розробки. Враховувати інструментальні засоби розробки.</br>
        До складу модуля входить:</br>
        БД з випусками наукових журналів</br>
        Інтерфейс користувача</br>
        Програма аналізу та обробки даних</br>
        Функції: створення нових випусків журналів; додавання статей; редагування; внесення відомостей про авторів</br>
        Реалізація БД Oracle</br>
    </p>
</div>
